#container {
    color: #581845;
    background-color: #cfb0a9;
    border: 1px solid black;
}

b {
    color: peru;
}

u {
    color: blue;
}

hr{
    color: purple;
}

s{
    color:red;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    background-color:   lightgray;
}


